# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# JetBrains
# =========================
.idea/

# =========================
# Python cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# ChromaDB
# =========================
chroma_db/

# =========================
# Incremental Index
# =========================
index_manifest.json
index_manifest.bak.json

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# HuggingFace Cache
# =========================
.cache/
hf_cache/

# =========================
# Models
# =========================
models/

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Python build
# =========================
dist/
build/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/